{% extends "blog/base.html" %}
{% block title %}
  Posts
{% endblock title %}
{% block content %}
  {% if published_posts %}
    <h1 class="page-title">Our latest posts</h1>

    <ul class="posts-list">
      {% for post in published_posts %}
        <li>
          <a href="{% url 'blog:detail' post.id %}">
            <p class="post-title">{{ post.title }}</p>
            <p class="post-author">{{ post.author.full_name }}</p>
          </a>
        </li>
      {% endfor %}
    <ul>
  {% endif %}
{% endblock content %}
